body {

    margin: 0;
    padding: 0;
    background: #337ef5;
    font-family: 'Montserrat', sans-serif;
    
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.container{

    width: 800px;
    background: rgba(112, 112, 112, 0.3);
    border-radius: 15px;
}

#background{

    width: 50%;
    float: left;
    margin-left: -12px;
    height: 640px;
    background: url("pizza.jpg") no-repeat center;
    background-size: cover;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}


form {

    width: 50%;
    float: right;
    padding: 20px;
    box-sizing: border-box; /* hogy eltunjon a hezag kozotte es befeszuljon a helyere igy padding is csak bent tolja el */
    text-align: center;
}

form h2 {

    font-weight: 400;
}

.pizzalogo{
    margin-top: 15px;
    margin-bottom: 15px;
    color: rgba(253, 90, 90, 0.968);
}

.form-control{
    color: rgba(49, 49, 49, 0.799);
    font-weight: 600;
}

button{
    margin-top: 15px;
}